[credential]
	helper = store
    interactive = false
    modalPrompt = false
[user]
	name = Rafal Buch
	email = rafal.buch@stoneridgeam.com
[merge]
	tool = bc
[diff]
	guitool = bc
[core]
	excludesfile = /Users/rafal.buch/.gitignore
	preloadindex = true
    mergeoptions = --no-edit
[alias]
    cm = !git add -A && git commit -m
    co = checkout
    undo = reset HEAD~1 --mixed
    save = !git add -A && git commit -m 'SAVEPOINT'
    amend = !git add -A && git commit -a --amend
    rename = branch -m
    proxyon = !git config http.proxy http://proxy-nyc:8080 && git config https.proxy http://proxy-nyc:8080
    proxyglobalon = !git config --global http.proxy http://proxy-nyc:8080 && git config --global https.proxy http://proxy-nyc:8080
    proxyoff = !git config --global --unset http.proxy && git config --global --unset https.proxy
    rcdiff = !git diff --name-status master rc  | grep -v "AssemblyInfo.cs"
    pm = push origin master
    pc = push origin HEAD
    pullrc = !git pull --rebase origin rc
    s = status
    p = pull
    pr = pull --rebase
    resetpassword = !git config credential.helper store
    hist = !gitk --all
    conflicts = diff --name-only --diff-filter=U
    h = !git log --graph --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    hs = !git --no-pager h --max-count=10
    hsf = !git --no-pager h --max-count=10 -p
    fh = !git log --format=format:'%C(bold cyan)%ar %C(reset) %C(green)%f' --name-status
    pp = log origin/master..HEAD --graph --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    pdiff = diff origin/master..HEAD
    fwd = !git checkout `git log --reverse --ancestry-path HEAD..master | head -n 1 | cut -d \\  -f 2`
    rwd = !git checkout HEAD~
    code = !node /c/Program\\ Files\\ \\(x86\\)/Microsoft\\ VS\\ Code/bin/code.js
    difft = !git difftool --no-prompt
    merget = !git mergetool --no-prompt
    reset = config credential.helper store
    rcmm = !git checkout rc && git merge master
    po = push origin
    recent = branch --sort=committerdate
    cb = checkout -B
    cfg = config --list --show-origin
    pullhead = !git pull origin $(!git rev-parse --abbrev-ref HEAD)
    pullmaster = pull origin master
    stashpreview = stash show -p
    comaster = !git checkout master && git pull
[mergetool]
	keepBackup = false
[gc]
	auto = 256
[mergetool "bc"]
	trustExitCode = true
[hub]
	host = github.stoneridge.am
	host = git@github.stoneridge.am
	host = https://github.stoneridge.am
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
